* text=auto !eol
.deps/en.dix -text
.deps/en.metadix -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/Makefile.in -text
/NEWS -text
/README -text
/aclocal.m4 -text
/alt.xsl -text
/apertium-bg-en.bg-en.dix -text
/apertium-bg-en.bg-en.t1x -text
/apertium-bg-en.bg-en.t2x -text
/apertium-bg-en.bg-en.t3x -text
/apertium-bg-en.bg.acx -text
/apertium-bg-en.bg.dix -text
/apertium-bg-en.bg.tsx -text
/apertium-bg-en.en-bg.t1x -text
/apertium-bg-en.en-bg.t2x -text
/apertium-bg-en.en-bg.t3x -text
/apertium-bg-en.en.acx -text
/apertium-bg-en.en.metadix -text
/apertium-bg-en.en.tsx -text
/apertium-bg-en.post-bg.dix -text
/apertium-bg-en.post-en.dix -text
/autogen.sh -text
/bg-en.mode -text
/bg-en.prob -text
/buscaPar.xsl -text
/config.in -text
/configure -text
/configure.ac -text
/en-bg.mode -text
/en-bg.prob -text svneol=unset#unset
/install-sh -text
/missing -text
/modes.xml -text
/principal.xsl -text
