* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/aclocal.m4 -text
/alt.xsl -text
/apertium-bg-en.bg-en.dix -text
/apertium-bg-en.bg-en.t1x -text
/apertium-bg-en.bg-en.t2x -text
/apertium-bg-en.bg-en.t3x -text
/apertium-bg-en.bg.acx -text
/apertium-bg-en.bg.dix -text
/apertium-bg-en.bg.tsx -text
/apertium-bg-en.en-bg.t1x -text
/apertium-bg-en.en-bg.t2x -text
/apertium-bg-en.en-bg.t3x -text
/apertium-bg-en.en.acx -text
/apertium-bg-en.en.metadix -text
/apertium-bg-en.en.tsx -text
/apertium-bg-en.post-bg.dix -text
/apertium-bg-en.post-en.dix -text
/autogen.sh -text
/bg-en.prob -text
/buscaPar.xsl -text
cgi-tasks/xaa -text
cgi-tasks/xab -text
cgi-tasks/xac -text
cgi-tasks/xad -text
cgi-tasks/xae -text
cgi-tasks/xaf -text
cgi-tasks/xag -text
cgi-tasks/xah -text
/config.in -text
/configure.ac -text
/en-bg.prob -text svneol=unset#unset
/lexchoicebil.xsl -text
/modes.xml -text
/principal.xsl -text
